		 body
		{
			margin: 0px;
			padding: 0px;
		}
		:root
		{
			--banner-background-color: #08192c;
			--banner-text-color: #fa562a;
			--banner-letter-spacing: 0.06em;
			--blog-menu-background-color: #2251dd;
			--about-me-background-color: #4169e1;
		}
		@font-face
		{
			font-family: "Times New Roman";
			src: url("fonts/TimesNewRomanPSMT.woff") format("woff");
		}
		.site-header
		{
			height: 15vh;
			width: calc(100% - 32px);
			padding-left: 16px;
			padding-right: 16px;
			background-color: var(--banner-background-color);
			display: flex;
			justify-content: space-between;
		}
		.site-header__title, .site_header__ytlink--container
		{
			display: flex;
			align-items: center;
		}

		@media  (max-width: 375px)
		{
			body .blog-menu
			{
				height: 100%;
			}
			.menu-list
			{
				flex-direction: column;
			}

			body .menu-list li:nth-child(odd)
			{

				border-top: 1px solid black;
				border-bottom: 1px solid black;
				border-left: none;
				border-right: none;
				
			}
		}

		.site-header__ytlink:hover, .site-header__ytlink:focus
		{
			text-decoration: underline;
		}
		.site-header__ytlink
		{
			text-decoration: none;
		}
		
		.site-header__title, .site-header__ytlink
		{
			color: var(--banner-text-color);
			letter-spacing: var(--banner-letter-spacing);
		}
		.site_header__ytlink--container, .site-header__title
		{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.blog-menu
		{
			background-color: var(--blog-menu-background-color);
			height: 10vh;
		}
		.menu-list
		{
			margin-top: 0px;
			margin-bottom: 0px;
			list-style: none;
			width: 100%;
			display: flex;
			justify-content: space-around;
			padding: 0px
		}
		.blog-menu > .menu-list > li
		{
			height: 10vh;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		.menu-list li:nth-child(odd)
		{
			border-left: 1px solid black;
			border-right: 1px solid black;
		}

		.blog-category
		{
			text-decoration: none;
			color: #ffffff;
			font-size: 1.5em;
			letter-spacing: var(--banner-letter-spacing);
		}
		.blog-category:hover, .blog-category:focus
		{
			text-decoration: underline;
		}
		.about-me
		{
			background-color: var(--about-me-background-color);
			height: 65vh;
			padding-left: 16px;
			padding-right: 16px;
		}
		.about-me > h2
		{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.about-me > span, .about-me  li
		{
			font-size: 19pt;
		}
		.about-me > ul, .about-me > ul > li > ul
		{
			list-style: none;
		}
		.about-me__explainer-text
		{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.site-footer
		{
			background-color: var(--banner-background-color);
			color: var(--banner-text-color);
			height: 10vh;
			padding-left: 16px;
			padding-right: 16px;
			display: flex;
			justify-content: flex-end;
		}