		body
		{
			margin: 0px;
			padding: 0px;
		}
		
		:root
		{
			--banner-background-color: #08192c;
			--banner-text-color: #fa562a;
			--banner-letter-spacing: 0.06em;
		}
		.site-header
		{
			height: 15vh;
			width: 100%;
			background-color: var(--banner-background-color);
			display: flex;
			justify-content: space-between;
		}
		.site-header__title
		{
			display: flex;
			align-items: center;
			margin-left: 1%;

		}
		.site_header__ytlink--container
		{
			display: flex;
			align-items: center;
			margin-right: 1%;
		}

		@font-face
		{
			font-family: "Times New Roman";
			src: url("fonts/TimesNewRomanPSMT.woff") format("woff");

		}

		@media  (max-width: 375px)
		{
			.site-header__title
			{
				margin-left: 3%;
			}

			.site_header__ytlink--container
			{
				margin-right: 3%;
			}

			body .blog-menu
			{
				height: 100%;
			}
			.menu-list
			{
				flex-direction: column;
			}

			body li:nth-child(odd)
			{
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				border-left: none;
				border-right: none;
				
			}
		}

		.site-header__ytlink:hover, .site-header__ytlink:focus
		{
			text-decoration: underline;
		}
		.site-header__ytlink
		{
			text-decoration: none;
		}
		
		.site-header__title, .site-header__ytlink
		{
			color: var(--banner-text-color);
			letter-spacing: var(--banner-letter-spacing);
		}
		.site_header__ytlink--container, .site-header__title
		{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.blog-menu
		{
			background-color: var(--banner-background-color);
			height: 10vh;
			border-top: 1px solid black;
		}
		.menu-list
		{
			margin-top: 0px;
			margin-bottom: 0px;
			list-style: none;
			width: 100%;
			display: flex;
			justify-content: space-around;
			padding: 0px
		}
		.blog-menu > .menu-list > li
		{
			height: 10vh;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		li:nth-child(odd)
		{
			border-left: 1px solid black;
			border-right: 1px solid black;
		}

		.blog-category
		{
			text-decoration: none;
			color: #ffffff;
			font-size: 1.5em;
			letter-spacing: var(--banner-letter-spacing);
		}
		.blog-category:hover, .blog-category:focus
		{
			text-decoration: underline;
		}
