		body
		{
			margin: 0px;
			padding: 0px;
		}
		
		:root
		{
			--banner-background-color: #08192c;
			--banner-text-color: #fa562a;
		}
		.site-header
		{
			height: 15vh;
			width: 100%;
			background-color: var(--banner-background-color);
			display: flex;
			justify-content: space-between;
		}
		.site-header__title
		{
			display: flex;
			align-items: center;
			margin-left: 1%;

		}
		.site_header__ytlink--container
		{
			display: flex;
			align-items: center;
			margin-right: 1%;
		}

		@media  (max-width: 375px)
		{
			.site-header__title
			{
				margin-left: 10%;
			}

			.site_header__ytlink--container
			{
				margin-right: 3%;
			}
		}

		.site-header__ytlink:hover, .site-header__ytlink:focus
		{
			text-decoration: underline;
		}
		.site-header__ytlink
		{
			text-decoration: none;
		}
		
		.site-header__title, .site-header__ytlink
		{
			color: var(--banner-text-color);
		}
		.site_header__ytlink--container, .site-header__title
		{
			margin-top: 0px;
			margin-bottom: 0px;
		}
